@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: NeueNormal;
  src: url(../public/fonts/NeueHaasDisplayRoman.ttf) format("truetype");
}
@font-face {
  font-family: NeueThin;
  src: url(../public/fonts/NeueHaasDisplayThin.ttf) format("truetype");
}
@font-face {
  font-family: NeueMedium;
  src: url(../public/fonts/NeueHaasDisplayMediu.ttf) format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "NeueNormal";
}
